{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="posts-container">
    {% for post in posts %}
    <div class="post-card">
        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="post-image-1">
        {% else %}
        <div class="post-image-1 no-image">Нет фото</div>
        {% endif %}
        <div class="post-content">
            <h3 class="post-title">{{ post.title }}</h3>
            <p class="post-date">Опубликовано: {{ post.created_at|date:"d.m.Y" }}</p>
            <p class="post-date">Категории: {{ post.category }}</p>
            <p class="post-date">Автор: {{ post.auther.username|default:"Неизвестен" }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn-primary">Читать дальше</a>
        </div>
    </div>
    {% empty %}
    <p>Пока нет опубликованных постов.</p>
    {% endfor %}
</div>
{% endblock %}