{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Блог{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body class="body-gradient">
    <header class="header-main">
        <h1 class="header-title">{% block header %}Добро пожаловать!{% endblock %}</h1>
    </header>

    <nav class="nav-menu">
        <a href="{% url 'home' %}" class="nav-link">Главная</a>
        <a href="{% url 'about' %}" class="nav-link">Мои статьи</a>
        <a href="{% url 'add_post' %}" class="nav-link">Добавить статью</a>
        {% if user.is_authenticated %}
        <p class="p-nav-link"><a href="{% url 'profile' %}" class="nav-link">{{ user.username}}</a> |<a href="{% url 'logout' %}" class="nav-link">Выйти</a></p>
        {% else %}
        <a href="{% url 'login' %}" class="nav-link">Войти</a> | <a href="{% url 'registor' %}" class="nav-link">Регистрация</a>
        {% endif %}
    </nav>

    <main class="form-container">
        {% block content %}
        <!-- Контент страницы -->
        {% endblock %}
    </main>


    <footer class="footer-main">
        <p>&copy; 2025 Мой Блог. Все права защищены.</p>
    </footer>
</body>
</html>